section.history-search {
    margin-top: 1.3%;
}

section.history-search .history-content {
    width: 100%;
    height: 100%;
}

section.history-search .history-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.history-search .history-content .title h1 {
    color: var(--text-color);
    background: var(--bg-color-cards);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 28px;
    letter-spacing: 1.2px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
}

section.history-search .history-content .title h1 i {
    color: var(--text-color-gray);
    font-weight: 900;
    font-size: 32px;
}

section.history-search .history-content .history-items {
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.history-search .history-content .history-items .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;

    background: var(--bg-color-cards);
    border-radius: 20px;
}

section.history-search .history-content .history-items .item .item-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

section.history-search .history-content .history-items .item .item-left .item-date {
    background: var(--bg-color-cards-hover);
    border-radius: 10px;
    padding: 10px;
}

section.history-search .history-content .history-items .item .item-left .item-date span {
    color: var(--text-color);
    font-size: 18px;
}

section.history-search .history-content .history-items .item .item-left .item-city {
    display: flex;
    align-items: center;
    gap: 20px;
}

section.history-search .history-content .history-items .item .item-left .item-city i {
    color: var(--text-color);
    font-size: 38px;
}

section.history-search .history-content .history-items .item .item-right {
    height: 100%;
}

section.history-search .history-content .history-items .item .item-right .item-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.history-search .history-content .history-items .item .item-right .item-buttons button {
    border: none;
    outline: none;

    width: 50px;
    height: 50px;

    background: var(--bg-color-cards-hover);
    border-radius: 10px;
    transition: var(--tran-04);
}

section.history-search .history-content .history-items .item .item-right .item-buttons button i {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color-gray);
    transition: var(--tran-04);
}

section.history-search .history-content .history-items .item .item-right .item-buttons button:hover i {
    color: var(--color);
}