section.search-city {
    margin-top: 1%;
}

section.search-city .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

section.search-city .search-container .search-button button {
    border: none;
    outline: none;
    background: var(--bg-color-cards);
    width: 70px;
    height: 70px;
    border-radius: 20px;
    transition: var(--tran-04);
    font-size: 24px;

}

section.search-city .search-container .search-button button:disabled i {
    color: var(--text-color-danger);
}

section.search-city .search-container .search-button button i {
    transition: var(--tran-04);
}

section.search-city .search-container .search-button button:hover:not(:disabled) i {
    color: var(--text-color-succes);
}

section.search-city .inputBox {
    width: 100%;
    height: 70px;
    border-radius: 20px;
}

section.search-city .inputBox input {
    background: var(--bg-color-cards);
    border: none;
    outline: none;

    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;

    font-family: var(--mitr);
    color: var(--text-color);
    font-size: 24px;
    transition: var(--tran-03);
    user-select: none;
}

section.search-city .inputBox input::placeholder {
    color: var(--text-color);
    transition: var(--tran-03);
}

section.search-city .inputBox input:focus::placeholder {
    opacity: 0;
}

/* ? main weather loader */
/* ? main weather loader */
/* ? main weather loader */

section.main-weather-info.loading {
    margin-top: 5%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

section.main-weather-info.loading .weather-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* * main weather sucess */
/* * main weather sucess */
/* * main weather sucess */

section.main-weather-info.success {
    margin-top: 1.3%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

section.main-weather-info.success .weather-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

section.main-weather-info.success .weather-content .weather-content__city {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

section.main-weather-info.success .weather-content .weather-content__city .header h1 {
    font-size: 46px;
}

section.main-weather-info.success .weather-content .weather-content__city .footer span {
    font-size: 56px;
    font-weight: 600;
}

section.main-weather-info.success .weather-content .weather-content__date .date-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.main-weather-info.success .weather-content .weather-content__date .date-info i {
    font-size: 32px;
    color: var(--text-color-info);
    background: var(--bg-color-cards);
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ! main weather error */
/* ! main weather error */
/* ! main weather error */

section.main-weather-info.error {
    margin-top: 3%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

section.main-weather-info.error .weather-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.main-weather-info.error .weather-content .weather-content__error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

section.main-weather-info.error .weather-content .weather-content__error .error-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

section.main-weather-info.error .weather-content .weather-content__error .error-title h1 {
    font-size: 44px;
    font-weight: 600;
}

section.main-weather-info.error .weather-content .weather-content__error .error-title i {
    font-size: 32px;
    color: var(--text-color-danger);
    background: var(--bg-color-cards);
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.main-weather-info.error .weather-content .weather-content__error .error-message p {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 300;
}

section.main-weather-info.error .weather-content .weather-content__error .error-button {
    margin-top: 10%;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.main-weather-info.error .weather-content .weather-content__error .error-button button {
    background: var(--bg-color-cards);
    color: var(--text-color-gray-light);
    font-family: var(--mitr);
    font-size: 26px;

    width: 100%;
    height: 100%;
    border-radius: 10px;

    border: none;
    outline: none;
    transition: var(--tran-04);
}

section.main-weather-info.error .weather-content .weather-content__error .error-button button:hover {
    background: var(--bg-color-cards-hover);
}

/* today forcast */
/* today forcast */
/* today forcast */


section.today-forecast {
    margin-top: 2%;
}

section.today-forecast .forecast-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* background: var(--bg-color-cards); */
    /* border-radius: 20px; */
}

section.today-forecast .forecast-container .title h1 {
    font-size: 24px;
}

section.today-forecast .forecast-container .forecast-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.today-forecast .forecast-container .forecast-items .item {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    padding: 30px;
    height: 100px;
    transition: var(--tran-04);

    border: 2px solid var(--bg-color-cards-hover);
    /* background: var(--bg-color-cards-hover); */
}

section.today-forecast .forecast-container .forecast-items .item:hover:not(.item.error-item) {
    background: var(--bg-color-cards-hover);
    cursor: pointer;
}

section.today-forecast .forecast-container .forecast-items .item.error-item {
    user-select: none;
    border: none;
    padding: 0;
}

section.today-forecast .forecast-container .forecast-items .item.error-item .item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

section.today-forecast .forecast-container .forecast-items .item.error-item h1 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
}

section.today-forecast .forecast-container .forecast-items .item .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

section.today-forecast .forecast-container .forecast-items .item .item-content .content-left {
    display: flex;
    align-items: center;
}

section.today-forecast .forecast-container .forecast-items .item .item-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 120px;
}

section.today-forecast .forecast-container .forecast-items .item .item-time p {
    font-size: 18px;
    background: var(--bg-color-cards-hover);
    color: var(--text-color);
    padding: 8px;
    border-radius: 10px;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    margin-left: 1%;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather .weather-icon img {
    width: auto;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather .weather-name {
    width: 280px;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather .weather-name h1 {
    font-size: 24px;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather .weather-name .weather-degree {
    margin-left: 3%;
}

section.today-forecast .forecast-container .forecast-items .item .item-weather .weather-name .weather-degree span {
    font-size: 65px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

section.today-forecast .forecast-container .forecast-items .item .item-content .content-right {
    display: flex;
    align-items: center;
}

section.today-forecast .forecast-container .forecast-items .item .item-content .content-right .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.today-forecast .forecast-container .forecast-items .item .item-content .content-right .buttons button {
    border: none;
    outline: none;

    font-size: 24px;
    color: var(--text-color);
    background: var(--bg-color-cards);
    font-family: var(--mitr);
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* sun info */
/* sun info */
/* sun info */

section.weather-sun-info .sun-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.weather-sun-info .sun-content .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background: var(--bg-color-cards); */
    padding: 10px;
    border-radius: 10px;
}

section.weather-sun-info .sun-content .info i {
    color: var(--color);
    font-size: 36px;
    /* background: var(--bg-color-cards); */
    border-radius: 10px;

    padding: 5px;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.weather-sun-info .sun-content .info h1 {
    font-size: 32px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section.weather-sun-info .sun-content .info h1 span {
    font-size: 24px;
    background: var(--bg-color-cards-hover);
    color: var(--text-color);
    padding: 8px;
    border-radius: 10px;
    font-weight: normal;
}